i.fa-brands {
    display: inline-block;
    margin: 0 5px;
}

.shadow-bottom {
    -webkit-box-shadow: 0 32px 15px -28px #000000;
    -moz-box-shadow: 0 32px 15px -28px #000000;
    box-shadow: 0 32px 15px -28px #000000;
}
